body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: blueviolet;
    border: 2px solid red;
    color: white;
    margin-bottom: 20px;
}

.main--container {
    /* width: 100%;
    height: 90vh; */
    min-height: 750px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    /* grid-template-rows: repeat(2, 200px);
    gap: 15px;
    background-color: lightgray;
    border: 2px solid blue; */
}

img {
    width: 100%;
    object-fit: cover;
}
/* 
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid limegreen;
} */

.footer {
    background-color: black;
    border: 2px dashed white;
    color: white;
}

