:root {
    --color-fondo: #f0e8e6;
    --Fuente-cursiva: 'Dancing Script', cursive;
    --Fuente-principal: 'Mulish', sans-serif;
    --Negrita-cursiva: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Fuente-principal);
    font-weight: 500;
}

.page {
    display: grid;
    grid-template-columns: 1fr 1fr 25%;
    grid-template-rows: 30% 1fr 1fr;
    gap: 10px;
    grid-template-areas: "header header header"
                         "content content aside"
                         "content  content aside";
    height: 95vh;
    padding: 8px;
}
/* HEADER SECTION */
.header {
    grid-area: header;
    background-color: var(--color-fondo);
    border: 1px solid gray;
}

.navbar {
    width: inherit;
    height: 100%;
}

.nav__list {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.title {
    font-family: var(--Fuente-cursiva);
    font-weight: var(--Negrita-cursiva);
    font-size: 50px;
}
/* END HEADER */

/* MAIN SECTION */
.content {
    grid-area: content;
    background-image: url('../img/prueba-2.jpeg');
    background-color: rgba(255, 255, 255, .4);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid gray;
   /*  AGRUPAR LO QUE SE REPITE */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
}

.content--container {
    height: 100%;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
}

.main__subtitle {
    font-family: var(--Fuente-cursiva);
    font-weight: var(--Negrita-cursiva);
    font-size: 2.5em;
}

.aside {
    grid-area: aside;
    background-color: var(--color-fondo);
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header,
.content,
.aside {
    border-radius: 10px;
}

/* Responsive Section */
@media screen and (max-width: 414px) {
    .page {
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "header header header"
                             "content content content"
                             "content content content"
                             "content content content"
                             "aside aside aside";
    }

    .content {
    background-image: url('../img/prueba-3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    }
}