:root {
    --color-fondo: #f0e8e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    display: grid;
    grid-template-columns: 1fr 1fr 25%;
    grid-template-rows: 30% 1fr 1fr;
    gap: 10px;
    grid-template-areas: "header header header"
                         "content content aside"
                         "content  content aside";
    height: 95vh;
    padding: 8px;
}

.header {
    grid-area: header;
    background-color: var(--color-fondo);
    border: 1px solid black;
}

.navbar {
    width: inherit;
    height: 100%;
}

.nav__list {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.content {
    grid-area: content;
    background-image: url('../img/prueba-2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
   /*  AGRUPAR LO QUE SE REPITE */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aside {
    grid-area: aside;
    background-color: var(--color-fondo);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header,
.content,
.aside {
    border-radius: 10px;
}

@media screen and (max-width: 375px) {
    .page {
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "header header header"
                             "content content content"
                             "content content content"
                             "content content content"
                             "aside aside aside";
    }

    .content {
    background-image: url('../img/prueba-3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    }
}