:root {
    --color-fondo: #f0e8e6;
    --Fuente-cursiva: 'Dancing Script', cursive;
    --Fuente-principal: 'Mulish', sans-serif;
    --Negrita-principal: 500;
    --Negrita-cursiva: 700;
    --Fuente-titulos: 55px;
    --Fuente-desktop: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Fuente-principal);
    font-weight: var(--Negrita-principal);
    font-size: var(--Fuente-desktop);
    background-color: var(--color-fondo);
}

.page {
    display: grid;
    grid-template-columns: 1fr 1fr 25%;
    grid-template-rows: 30% 1fr 1fr;
    gap: 10px;
    grid-template-areas: "header header header"
                         "content content aside"
                         "content  content aside";
    height: 95vh;
    padding: 8px;
}
/* HEADER SECTION */
.header {
    grid-area: header;
}

.navbar {
    width: inherit;
    height: 100%;
}

.nav__list {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.list__item a {
    text-decoration: none;
    color: inherit;
}

.title {
    font-family: var(--Fuente-cursiva);
    font-weight: var(--Negrita-cursiva);
    font-size: var(--Fuente-titulos);
}
/* END HEADER */

/* MAIN SECTION */
.content {
    grid-area: content;
    background-image: url('../img/prueba-2.jpeg');
    background-color: rgba(255, 255, 255, .4);
    background-size: cover;
    background-repeat: no-repeat;

}

.content--container {
    height: 100%;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
}

.main__subtitle {
    font-family: var(--Fuente-cursiva);
    font-weight: var(--Negrita-cursiva);
    font-size: 2.5em;
}

.content__parraph {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
}
/* END MAIN  */

/* ASIDE SECTION */
.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h3.subtitle {
    text-align: center;
}

/* END ASIDE */ 

/* BUTTONS */
.button {
    width: 40%;
    height: 2.2rem;
    border-radius: 12px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, .9);
}

.button a {
    width: inherit;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: var(--Negrita-principal);
}

.button:hover {
    background-color: rgba(0, 0, 0, .75);
    cursor: pointer;
    outline: none;
}

.button a:hover {
    color: lightgrey;
}

/* END BUTTONS */

.header,
.content,
.aside {
    border-radius: 10px;
    border: 1px solid gray;
}

.header,
.aside {
    background-color: whitesmoke;
}

/* Responsive Section */
@media screen and (max-width: 425px) {
    .page {
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "header header header"
                             "content content content"
                             "content content content"
                             "content content content"
                             "aside aside aside";
    }

    .header,
    .content,
    .aside {
        font-size: .8em;
    }

    .title {
        font-size: 2.5em;
    }

    .content {
    background-image: url('../img/prueba-3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    }
}

@media screen and (max-width: 375px) {
    .header{
        font-size: .6em;
    }

    .content {
        font-size: .8em;
    }

    .aside {
        font-size: .5em;
    }

    .button {
        height: 1.8rem;
        margin-bottom: 5px;
    }
}